/* FORM BOX */
.form-box{
  background:#fff;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  max-width:100%;
}

.form-row{
  margin-bottom:15px;
}

label{
  font-weight:600;
}

input, select, textarea{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
  margin-top:5px;
}

button{
  padding:10px 18px;
  border:none;
  border-radius:8px;
  background:#0f3c4c;
  color:#fff;
  cursor:pointer;
}

button:hover{
  background:#14576b;
}

.success{
  color:green;
  font-weight:600;
  margin-top:10px;
  display:none;
}
/* FOOTER */
footer{
    background:#1f3c4a;
    color:#fff;
     margin-top: 50px;
    text-align:center;
    padding:22px;
    border-radius:14px;
}

/* RESPONSIVE */
@media(max-width:900px){
    .sidebar{display:none;}
    .main{margin-left:0;}
}

@media(max-width:768px){
    .about-container{
        grid-template-columns:1fr;
        text-align:center;
    }
}