*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    height:100vh;
    background: linear-gradient(135deg,#1f4e5f,#2c6975);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

/* MAIN CARD */
.main-card{
    width:900px;
    height:520px;
    background:#fff;
    border-radius:16px;
    display:flex;
    overflow:hidden;
    box-shadow:0 30px 60px rgba(0,0,0,0.35);
}

/* LEFT IMAGE */
.left-panel{
    width:55%;
    background: url('../images/login.jpg') center / cover no-repeat;
}


/* RIGHT PANEL */
.right-panel{
    width:55%;
    padding:45px 40px;
    text-align:center;
    overflow-y:auto;
}

.right-panel::-webkit-scrollbar{
    width:6px;
}
.right-panel::-webkit-scrollbar-thumb{
    background:#c1c1c1;
    border-radius:10px;
}

/* BRAND */
.brand{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin-bottom:30px;
}

.brand img{
    width:100px;
}

.brand span{
    font-size:34px;
    font-weight:600;
    color:#203a43;
}

/* FORM */
.login-box{
    animation: slideUp 0.5s ease;
}

.login-box h2{
    color:#2c5364;
    margin-bottom:15px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

.login-box button{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:#2c5364;
    border:none;
    border-radius:8px;
    color:#fff;
    font-size:15px;
    cursor:pointer;
}

.login-box button:hover{
    background:#203a43;
}

.hidden{
    display:none;
}

/* RESPONSIVE */
@media(max-width:850px){
    .main-card{
        width:90%;
        height:auto;
        flex-direction:column;
    }
    .left-panel{
        display:none;
    }
    .right-panel{
        width:100%;
        max-height:90vh;
    }
}

@keyframes slideUp{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}
