.profile-container{
    display:flex;
    gap:40px;
    padding:40px;
    align-items:flex-start;
}

/* LEFT CARD */
.profile-card{
    width:280px;
    background:#0f3d4c;
    color:#fff;
    border-radius:18px;
    padding:35px 25px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.profile-avatar{
    width:120px;
    height:120px;
    margin:0 auto 15px;
    background:#fff;
    color:#0f3d4c;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:50px;
}

.profile-card h2{
    margin:10px 0 5px;
}

.profile-card p{
    font-size:14px;
    opacity:0.85;
}

.edit-btn{
    margin-top:20px;
    padding:10px 22px;
    border:none;
    border-radius:25px;
    background:#dbe0e2;
    color:#171616;
    cursor:pointer;
    font-weight:500;
}

.edit-btn:hover{
    background:#dae0e2;
}

/* RIGHT DETAILS */
.profile-details{
    flex:1;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:25px;
}

.detail-box{
    background:#ffffff;
    border-radius:16px;
    padding:22px 25px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    position:relative;
}

.detail-box::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:6px;
    background:#0f3d4c;
    border-radius:16px 0 0 16px;
}

.detail-box label{
    font-size:13px;
    color:#777;
}

.detail-box span{
    display:block;
    margin-top:6px;
    font-size:16px;
    font-weight:600;
    color:#333;
}

/* FOOTER */
footer{
    margin-top:300px;
    background:#1f3c4a;
    color:#fff;
    text-align:center;
    padding:7px;
    border-radius:17px;
}



/* RESPONSIVE */
@media(max-width:900px){
    .sidebar{display:none;}
    .main{margin-left:0;}
}

@media(max-width:768px){
    .contact-container{
        grid-template-columns:1fr;
    }
}



