/* FORM + TABLE BOX */
.box{
  background:#fff;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  margin-bottom:20px;
}

.form-row{
  margin-bottom:15px;
}

label{
  font-weight:600;
}

input, select{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
  margin-top:5px;
}

button{
  padding:10px 18px;
  background:#0f3c4c;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#14576b;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#0f3c4c;
  color:#fff;
}

th,td{
  border:1px solid #ccc;
  padding:10px;
  text-align:center;
}
